.side
  .side__head
    .side__head__items
      .side__head__items__name
        = current_user.name
      %ul.side__head__items__icon
        %li
          = link_to "#", class: "side__head__items__icon__edit" do
            %i.fas.fa-edit
        %li
          = link_to edit_user_path(current_user), class: "side__head__items__icon__cog" do
            %i.fas.fa-cog
  .side__body
    .side__body__group
      .side__body__group__name
        %p techcamp
      .side__body__group__message
        %p まだメッセージがありません